.card {
    flex: 0 1 calc(100% / 3 - 20px * 2);
    margin: 20px;
    width: 380px;
    height: 440px;
}

.card .photo {
    width: 350px;
    height: 340px;
    object-fit: contain;
}
.text-box .name {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 28.8px;
}
.text-box .amount {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28.8px;
}
a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
    color: black;
}
a:hover {
    color: rgb(56, 226, 56);
}
